.container {
  width: 270px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 60px 10px 0;
}

.selectStyles {
  width: 50%;
  color: #fff;
}

.selectStyles:hover > div {
  border-color: var(--psu-green);
}
